<html>
<head>
    
    <script src="https://jamsalesdemo8.successfactors.com/assets/feed_widget.js?35247"> </script>
</head>


<body>
    <h2>Local Javascript</h2>
    
    
    <a href="https://jamsalesdemo8.successfactors.com/c/JAM097.com/widget/v1/feed?wid=1$auth=session&skin=jam&faces=true&type=group&num_items=30&avatar=false&live_update=false&mobile=false&post_mode=inline&reply_mode=inline*group_id=18351,%2018354,%2018353,%2018350,%2018352" type="text/css">External js test</a>
    
    
    
</body>


</body>
</html>