.x.axis path, .y.axis path {
  display: none;
}
.axis line, .domain {
  fill: none;
  stroke: #C2C2C2;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.legend rect {
  opacity:0.8;
}
.legend-item text{
 font-size:15px;
}
.tick text{
 font-size:13px;
}
.axis>text{
 font-weight: bolder;
 font-size:14px;
}
.active {
 opacity: 0.5;
}
.donutText{
  font-size: 14px;
  font-weight:bolder;
  width:50%;
  word-wrap: break-word;
}
svg rect{
  shape-rendering: crispEdges;
}
body , svg{
  font-family:'Open Sans', Arial, Helvetica, sans-serif;
  font-size:12px;
}
g.tile text{
  fill: #FFFFFF;
  font-size: 14px;
}
rect.bordered {
  stroke: #FFFFFF;
  stroke-width:2px;   
}
.node{
    stroke: none;
}
.node:hover{
    stroke: #FFFFFF;
}
.overlay {
    fill: none;
    pointer-events: all;
}
.legend-circles{
    stroke: white;
    stroke-width: 1;
    fill: #778EB3;
    opacity: 0.85;
}

.legend g text {
/*    z-index: 99;*/
    fill: #000000;
    font: 10px sans-serif;
/*    text-anchor: middle;*/
}